/* EmployeeEditComponent.css */

.container {
    border: 1px solid grey;
    padding: 2px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.title {
    margin: 0; /* Reset default margin */
    text-align: center; /* Center the heading */
    flex-grow: 1; /* Allow the heading to grow and take up remaining space */
}

.buttons {
    text-align: right;
    margin-bottom: 10px;
}

.buttons button {
    margin-right: 10px;
}

.section-wrapper {
    display: flex;
}

.section {
    flex: 1;
    margin-right: 20px;
}

.section:last-child {
    margin-right: 0;
}

.container-header {
    
    margin: 10px auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px; /* Optional: Add some space between button and heading */
}

.container-header h3 {
    margin: 0; /* Reset default margin */
    text-align: center; /* Center the heading */
    flex-grow: 1; /* Allow the heading to grow and take up remaining space */
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-container span {
    width:25%; /* Set the width of the span to 40% */
    padding-right: 10px; /* Optional: Add some spacing between the span and input */
}

.input-container input {
    width: 80%; /* Set the width of the input to 60% */
    flex-grow: 1; /* Allow the input to grow and take up remaining space */
}
